.Detail {
	margin: 0 auto 150px;
	article {
		padding-top: 60px;
		border-top: 1px solid var(--baseColor);
		> a {
			margin-bottom: 50px;
			font-size: var(--lgSize);
			opacity: 0.9;
			.arrow {
				position: relative;
				width: 20px;
				height: 20px;
				display: inline-block;
				transform: rotate(-45deg);
				scale: 0.8;
				transition: transform 0.5s;
				cursor: pointer;
				&::before,
				&::after {
					content: '';
					position: absolute;
				}
				&::before {
					width: 100%;
					height: 100%;
					border: 2px solid var(--baseColor);
					border-right: 0;
					border-bottom: 0;
				}
				&::after {
					width: 35px;
					height: 2px;
					background-color: var(--baseColor);
					transform-origin: 0 100%;
					transform: rotate(45deg);
				}
				&:hover {
					transform: rotate(0deg);
				}
			}
		}
		.top-info {
			display: flex;
			margin-top: 15px;
			.date {
				width: 45%;
				font-size: var(--medSize);
				font-family: var(--spcFont);
				font-style: italic;
				font-weight: var(--lightWeight);
				span {
					&:first-child {
						margin-right: 5px;
						font-family: var(--baseFont);
						font-style: normal;
					}
				}
			}
			.con {
				width: 55%;
				.tit {
					font-size: var(--titSize2);
					font-weight: var(--lightWeight);
					line-height: 1.2;
				}
				.info {
					display: flex;
					justify-content: space-between;
					align-items: center;
					//width: 80%;
					margin-top: 60px;
					font-weight: var(--lightWeight);
				}
			}
		}
		.video {
			width: 100%;
			height: 70vh;
			margin-top: 45px;
			iframe {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.txt {
			width: 90%;
			margin: 70px auto 0;
			font-size: var(--lgSize);
			font-weight: var(--lightWeight);
			text-align: center;
			word-break: break-word;
			&::before {
				display: block;
				content: '';
				width: 60px;
				height: 2px;
				margin: 0 auto 30px;
				background: var(--baseColor);
			}
			&::after {
				display: block;
				content: '';
				width: 50px;
				height: 2px;
				margin: 30px auto 0;
				background: var(--baseColor);
			}
		}
	}
}

// tablet
.tablet,
.mobile {
	.Detail {
		margin: 0 auto 100px;
		article {
			.top-info {
				flex-wrap: wrap;
				.date {
					width: 100%;
				}
				.con {
					width: 100%;
					.tit {
						margin-top: 15px;
						font-size: var(--xlgSize);
					}
					.info {
						margin-top: 50px;
					}
				}
			}
			.video {
				height: 60vh;
				margin-top: 35px;
			}
			.txt {
				font-size: var(--medSize);
				&:before {
					width: 50px;
				}
				&::after {
					width: 50px;
				}
			}
		}
	}
}

// mobile {
.mobile {
	.Detail {
		margin: 0 auto 100px;
		article {
			.arrow {
				scale: 0.7;
			}
			.video {
				height: 50vh;
			}
			.txt {
				margin-top: 50px;
				font-size: var(--bodySize);
				&:before {
					width: 30px;
				}
				&::after {
					width: 30px;
				}
			}
		}
	}
}
