.Vid {
	position: relative;
	width: 100%;
	height: 100vh;
	.wrapper {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		video {
			width: 100%;
			height: 100%;
			border: none;
			object-fit: cover;
		}
	}
	h1 {
		z-index: 2;
		position: absolute;
		top: 55%;
		left: 10vw;
		color: #fff;
		font-family: var(--spcFont);
		font-size: var(--titSize1);
		font-weight: var(--lightWeight);
		line-height: 1.2;
	}
}

// tablet
.tablet,
.mobile {
	.Vid {
		h1 {
			left: 7.5vw;
		}
	}
}

// mobile
.mobile {
	.Vid {
		h1 {
			left: 5vw;
			font-size: var(--titSize2);
		}
	}
}
