.Member {
	width: 100%;
	margin: 100px auto 50px;
	.tit-set {
		width: calc(100% - 20vw);
		margin-bottom: 20px;
		margin: 0 auto 20px;
	}
	.join {
		.top {
			padding: 0 10vw;
			.stit {
				font-family: var(--gFont);
				font-weight: var(--regWeight);
				font-size: var(--titSize1s);
				line-height: 1.3;
			}
			.info-set {
				display: flex;
				align-items: center;
				gap: 80px;
				.info {
					margin-top: 60px;
					text-align: center;
					&:first-child {
						margin-left: 0;
					}
					.num {
						font-size: var(--xlgSize);
					}
					.txt {
						font-weight: var(--lightWeight);
						opacity: 0.5;
					}
				}
			}
		}
		&-set {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 80px;
			.pic {
				width: 52%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.form {
				width: 45%;
				padding-right: 10vw;
				h3 {
					font-size: var(--titSize2);
					font-weight: var(--regWeight);
				}
				> p {
					margin-top: 5px;
					font-weight: var(--lightWeight);
					opacity: 0.7;
					line-height: 1.2;
				}
				form {
					margin-top: 10px;
					text-align: left;
					table {
						width: 100%;
						tbody {
							tr {
								text-align: left;
								th {
									display: block;
									width: 100%;
									margin: 32px 0 3px;
									font-weight: var(--regWeight);
									&.necessary {
										&::after {
											content: '*';
											color: var(--pointColor);
											margin-left: 5px;
											font-weight: var(--lightWeight);
										}
									}
								}
								td {
									position: relative;
									display: block;
									width: 100%;
									padding-top: 5px;
									border: 1px solid transparent;
									&::after {
										content: '';
										display: block;
										width: 100%;
										padding-top: 7px;
										border-bottom: 1px solid var(--baseColor);
									}
									input[type='text'],
									input[type='password'],
									textarea {
										width: 100%;
										padding-left: 10px;
										color: var(--baseColor);
										font-weight: var(--lightWeight);
										background-color: transparent;
										border: none;
										opacity: 0.8;
									}
									select {
										width: 100%;
										padding-left: 5px;
										color: var(--baseColor);
										font-family: var(--baseFont);
										font-weight: var(--lightWeight);
										font-size: var(--bodySize);
										background-color: transparent;
										border: none;
										outline: 0;
										opacity: 0.8;
									}
									label {
										margin-right: 5px;
										font-size: var(--mSize);
										font-weight: var(--lightWeight);
										opacity: 0.6;
									}
									input[type='checkbox'],
									input[type='radio'] {
										margin: 0 5px 0 10px;
										outline: 0;
									}
									input[type='submit'],
									input[type='reset'] {
										width: 120px;
										height: 40px;
										margin: 30px 25px 0 0;
										color: var(--bgColor);
										font-size: var(--mSize);
										background-color: var(--baseColor);
										border: none;
										border-radius: 20px;
										cursor: pointer;
										transition: 0.4s;
										&:hover {
											opacity: 0.6;
										}
										&:first-child {
											background-color: rgba(var(--baseColor-code), 0.6);
										}
										&:last-child {
											margin-right: 0;
										}
									}
									> p {
										position: absolute;
										bottom: -23px;
										left: 0;
										color: var(--pointColor);
										font-size: var(--smSize);
										font-weight: var(--lightWeight);
									}
									&.error {
										border: 1.5px solid var(--pointColor);
										border-radius: 5px;
										&::after {
											border-bottom: none;
										}
									}
								}
								&:last-child {
									td {
										text-align: center;
										&::after {
											border-bottom: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.mail {
		display: flex;
		align-items: center;
		gap: 50px;
		padding: 200px 120px;
		margin-top: 100px;
		color: var(--invertColor);
		background-color: rgba(var(--baseColor-code), 0.95);
		&-txt {
			width: 57%;
			h3 {
				font-family: var(--gFont);
				font-weight: var(--lightWeight);
				font-size: var(--titSize1);
				line-height: 1;
			}
			p {
				margin-top: 15px;
				font-weight: var(--lightWeight);
				opacity: 0.7;
			}
		}
		form {
			width: 40%;
			.mail-box {
				position: relative;
				input {
					width: 100%;
					padding: 20px 25px;
					border: none;
					border-radius: 50px;
					&::placeholder {
						color: #111;
						font-size: var(--medSize);
						font-weight: var(--lightWeight);
						opacity: 0.5;
					}
				}
				button {
					position: absolute;
					top: 50%;
					right: 5px;
					transform: translateY(-50%);
					display: flex;
					justify-content: center;
					align-items: center;
					width: 55px;
					height: 55px;
					text-align: center;
					margin: 0 auto;
					background-color: #111;
					border-radius: 100%;
					transition: opacity 0.4s;
					svg {
						font-size: var(--lgSize);
						color: #fff;
						transition: transform 0.3s;
					}
					&:hover {
						opacity: 0.8;
						svg {
							transform: translateX(4px);
						}
					}
				}
			}
			label {
				display: inline-block;
				width: 100%;
				padding-left: 10px;
				margin-top: 20px;
				input {
					margin-right: 10px;
				}
				span {
					font-size: var(--smSize);
					font-weight: var(--lightWeight);
					.line {
						border-bottom: 1px solid var(--invertColor);
					}
				}
			}
		}
	}
}
