@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

:root {
	--baseFont: 'Noto Sans KR', 'arial', '돋움';
	--pointFont: 'Nanum Myeongjo', 'arial';
	--baseColor: #fff;
	--pointColor: rgb(250, 91, 91);
	--bgColor: #111;
	--bodySize: 1rem;
	--titSize1: 2.4rem;
	--titSize2: 1.6rem;
	--bodySize: 1rem;
	--lightWeight: 300;
	--regWeight: 400;
	--medWeight: 500;
	--boldWeight: 700;
}
