@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Cardo:ital@0;1&family=Nanum+Myeongjo:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--baseFont: 'Poppins', 'arial', '돋움';
	--pointFont: 'Nanum Myeongjo', 'arial';
	--spcFont: 'Cardo', 'arial';
	--gFont: 'Arimo', 'arial';
	--baseColor: #111;
	--baseColor-code: 18, 18, 18;
	--pointColor: rgb(250, 91, 91);
	--bgColor: #f1f1f1;
	--invertColor: #fff;
	--invertColor-code: 255, 255, 255;
	--titSizeXB: 10rem;
	--titSizeB: 8.5rem;
	--titSize0: 6rem;
	--titSize1: 4rem;
	--titSize1s: 3rem;
	--titSize2: 2.4rem;
	--xlgSize: 2rem;
	--lgSize: 1.6rem;
	--medSize: 1.3rem;
	--bodySize: 1rem;
	--mSize: 0.9rem;
	--smSize: 0.8rem;
	--xsmSize: 0.7rem;
	--lightWeight: 300;
	--regWeight: 400;
	--medWeight: 500;
	--semiBoldWeight: 600;
	--boldWeight: 700;
	--filterInv: invert(0);
	--filterInvMob: invert(1);
}

// 다크모드
.dark {
	--baseColor: #fff;
	--baseColor-code: 255, 255, 255;
	--bgColor: #111;
	--invertColor: #111;
	--filterInv: invert(1);
	--filterInvMob: invert(0);
}
