@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Nanum+Myeongjo:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--baseFont: 'Poppins', 'arial', '돋움';
	--pointFont: 'Nanum Myeongjo', 'arial';
	--spcFont: 'Cardo', 'arial';
	--baseColor: #fff;
	--pointColor: rgb(250, 91, 91);
	--bgColor: #111;
	--smSize: 0.8rem;
	--bodySize: 1rem;
	--titSize1: 2.4rem;
	--titSize2: 1.6rem;
	--bodySize: 1rem;
	--lightWeight: 300;
	--regWeight: 400;
	--medWeight: 500;
	--semiBoldWeight: 600;
	--boldWeight: 700;
}
