.Visual {
	width: 100%;
	height: calc(100vh - 150px);
	position: relative;
	.swiper {
		width: 100%;
		height: 100%;
		.swiper-wrapper {
			.swiper-slide {
				padding: 10vh 0;
				> .inner {
					width: 100%;
					height: 100%;
					margin: 0 auto;
					.pic {
						width: 100%;
						height: 100%;
						overflow: hidden;
						img {
							width: 100%;
							height: 100%;
							//transform: scale(1.4);
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}
