.Gallery {
	--num: 2;
	margin-bottom: 50px;
	.top-area {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 50px;
		button {
			background: transparent;
		}
		.btn-set {
			font-weight: var(--lightWeight);
			font-size: var(--bodySize);
			.txt {
				margin-right: 12px;
			}
			button {
				padding: 5px 20px;
				margin-left: 10px;
				color: var(--baseColor);
				font-weight: var(--medWeight);
				font-size: inherit;
				background-color: var(--bgColor);
				border: 1px solid var(--baseColor);
				border-radius: 10px;
				transition: 0.3s;
				&:hover {
					color: var(--invertColor);
					background-color: var(--baseColor);
					border: 1px solid var(--baseColor);
				}
				&.on {
					color: var(--invertColor);
					background-color: var(--baseColor);
					border: 1px solid var(--baseColor);
				}
			}
		}
		form {
			display: flex;
			align-items: center;
			padding-bottom: 3px;
			border-bottom: 1px solid rgba(var(--baseColor-code), 0.8);
			button {
				margin-top: 5px;
				color: var(--baseColor);
				font-size: var(--medSize);
			}
			input {
				width: 120px;
				padding: 6px 10px;
				color: var(--baseColor);
				background-color: transparent;
				border: none;
				outline: 0;
			}
		}
	}
	.container-wrap {
		--gap: 20px;
		opacity: 0;
		transform: translateY(100px);
		transition: opacity, transform 0.5s;
		.container {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: var(--gap);
			h3 {
				font-size: var(--lgSize);
				font-weight: var(--medWeight);
			}
			article {
				width: calc((100% - var(--gap) * (var(--num) - 1)) / var(--num));
				margin-bottom: 120px;
				.pic {
					width: 100%;
					margin-bottom: 10px;
					overflow: hidden;
					img {
						width: 100%;
						filter: grayscale(0.5);
						transition: filter, transform 0.5s;
						cursor: pointer;
						&:hover {
							filter: grayscale(0) brightness(1.2);
							transform: scale(1.2);
						}
					}
				}
				h2 {
					margin-bottom: 10px;
					font-weight: var(--medWeight);
					font-size: var(--medSize);
					line-height: 1.2;
					.num {
						margin-right: 10px;
						font-style: italic;
						font-family: var(--pointFont);
						font-weight: var(--boldWeight);
					}
				}
				.profile {
					width: 100%;
					&::after {
						content: '';
						display: block;
						width: calc((65% - var(--gap) * (var(--num) - 1)) / var(--num));
						border-bottom: 1px solid rgba(var(--baseColor-code), 0.3);
					}
					p {
						margin-bottom: 10px;
						font-size: var(--smSize);
						opacity: 0.6;
						cursor: pointer;
						transition: opacity 0.3s;
						&:hover {
							opacity: 1;
						}
					}
					img {
						width: 40px;
						margin-bottom: 10px;
						border-radius: 50%;
						filter: grayscale(0.7);
						cursor: pointer;
						transition: opacity, filter 0.3s;
						&:hover {
							filter: grayscale(0) brightness(1.2);
						}
					}
				}
				&:nth-child(2n) {
					text-align: right;
					.profile {
						&::after {
							position: absolute;
							right: 0;
						}
					}
				}
			}
		}
		&.on {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	.loading-bar {
		position: fixed;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		width: 400px;
	}
}

// tablet
.tablet,
.mobile {
	.Gallery {
		.top-area {
			.btn-set {
				.txt {
					margin-right: 10px;
				}
				button {
					padding: 5px 15px;
					margin-left: 5px;
				}
			}
			form {
				input {
					width: 100px;
					padding: 6px 10px;
				}
			}
		}
	}
}

// mobile
.mobile {
	.Gallery {
		--num: 1;
		margin-bottom: 50px;
		.top-area {
			margin-bottom: 40px;
			.btn-set {
				width: 100%;
				.txt {
					display: none;
				}
			}
			form {
				margin-top: 20px;
			}
		}
		.container-wrap {
			.container {
				article {
					margin-bottom: 70px;
				}
			}
		}
	}
}
