.Layout {
	position: relative;
	top: 200px;
	width: 80vw;
	min-height: 60vh;
	margin: 100px auto 150px;
	opacity: 0;
	transition: opacity 0.7s, top 0.7s;
	.tit-set {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: 50px;
		margin-bottom: 150px;
		border-bottom: 1px solid var(--baseColor);
		.num {
			font-size: var(--titSize2);
			font-family: var(--spcFont);
			font-style: italic;
			span {
				transform: scale(3);
				opacity: 0;
				transition-property: opacity, transform;
			}
		}
		h1 {
			margin-bottom: 10px;
			font-weight: normal;
			font-size: var(--titSize0);
			letter-spacing: 1px;
			line-height: 1;
			span {
				opacity: 0;
				transform: scale(2);
				transition-property: opacity, transform;
			}
		}
	}
	button {
		z-index: 6;
		position: fixed;
		bottom: 30px;
		right: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border: 2px solid var(--baseColor) !important;
		border-radius: 50% !important;
		opacity: 0;
		transform: scale(1.2);
		transition: opacity 0.5s, transform 0.5s;
		.line {
			display: inline-block;
			position: absolute;
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
			width: 14px;
			height: 1.7px;
			background-color: var(--baseColor);
		}
		svg {
			margin-top: 5px;
			transform: scale(1.3);
			transition: margin-top 0.3s;
		}
		&:hover {
			svg {
				margin-top: 3.5px;
				transform: scale(1.4);
			}
		}
		&.on {
			opacity: 0.8;
			transform: scale(1);
		}
	}
	&.on {
		opacity: 1;
		top: 0;
		.tit-set {
			.num {
				span {
					opacity: 1;
					transform: scale(1);
				}
			}
			h1 {
				span {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
	&.Detail {
		.tit-set {
			display: none;
		}
	}
}

// tablet
.tablet,
.mobile {
	.Layout {
		width: 85vw;
		.tit-set {
			margin-bottom: 100px;
			.num {
				font-size: var(--lgSize);
			}
			h1 {
				font-size: var(--titSize1);
			}
		}
		button {
			bottom: 15px;
			right: 1.5%;
			width: 35px;
			height: 35px;
			.line {
				top: 8px;
			}
		}
	}
}
// mobile
.mobile {
	.Layout {
		margin: 70px auto 100px;
		.tit-set {
			margin-bottom: 70px;
			.num {
				font-size: var(--medSize);
			}
			h1 {
				font-size: var(--xlgSize);
			}
		}
		button {
			display: none;
		}
	}
}
