.Header {
	z-index: 5;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 150px;
	padding: 0 10vw;
	margin: 0 auto;
	background-color: rgba(var(--baseColor-code), 0.7);
	font-weight: var(--lightWeight);
	font-family: var(--pointFont);
	transform: translateY(0);
	transition: transform 0.8s, background-color 0.2s;
	h1 {
		width: 100px;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			filter: var(--filterInv);
			transition: 0.3s;
		}
		&:hover {
			img {
				filter: invert(60%);
			}
		}
	}
	ul {
		display: flex;
		justify-content: space-between;
		width: 65%;
		gap: 35px;
		li {
			a {
				font-size: var(--smSize);
				letter-spacing: 1px;
				opacity: 0.8;
				transition: 0.3s;
				&::after {
					content: '';
					display: block;
					width: 0px;
					border-bottom: 1px solid rgba(var(--baseColor-code), 0.5);
					margin: 5px auto 0;
					transition: width 0.5s;
				}
				&:hover {
					opacity: 0.9;
					font-weight: var(--boldWeight);
				}
				&.on {
					font-weight: var(--boldWeight);
					opacity: 1;
					&::after {
						width: 10px;
					}
				}
			}
		}
	}
	// .menu {
	// 	display: none;
	// 	color: var(--baseColor);
	// 	font-size: var(--medSize);
	// 	transition: 0.5s;
	// 	&:hover {
	// 		opacity: 0.5;
	// 	}
	.menu {
		display: none;
		position: relative;
		width: 18px;
		height: 13px;
		opacity: 0.8;
		cursor: pointer;
		transition: opacity 0.3s;
		&:hover {
			opacity: 0.5;
		}
		span {
			position: absolute;
			right: 0;
			display: block;
			height: 2px;
			background-color: var(--baseColor);
			transition: 0.3s;
			&.line1 {
				top: 0;
				width: 13px;
			}
			&.line2 {
				top: 50%;
				width: 18px;
				transform: translateY(-50%);
			}
			&.line3 {
				bottom: 0;
				width: 9px;
			}
		}
		&.on {
			span {
				&.line1 {
					top: 50%;
					width: 18px;
					transform: rotate(45deg);
				}
				&.line2 {
					opacity: 0;
				}
				&.line3 {
					top: 50%;
					width: 18px;
					transform: rotate(-45deg);
				}
			}
		}
	}
	&.scrolled {
		transform: translateY(-100%);
		background-color: transparent;
	}
	&.reset {
		background-color: transparent;
	}
}

// tablet
.tablet,
.mobile {
	.Header {
		padding: 0 7.5vw;
		ul {
			display: none;
		}
		.DarkTheme {
			display: none;
		}
		.ColorTheme {
			display: none;
		}
		.menu {
			display: block;
		}
	}
}
