.Btns {
	z-index: 7;
	position: fixed;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	li {
		width: 12px;
		height: 12px;
		margin: 20px 0;
		border-radius: 50%;
		border: 1px solid var(--baseColor);
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: var(--pointColor);
			opacity: 0.6;
		}
		&.on {
			background-color: var(--pointColor);
			border-color: var(--pointColor);
		}
	}
}
