.Menu {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100vh;
	background: var(--baseColor);
	color: var(--invertColor);
	h1 {
		width: 100px;
		margin: 40px auto 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			filter: var(--filterInvMob);
			transition: 0.3s;
		}
		&:hover {
			img {
				filter: invert(60%);
			}
		}
	}
	.gnb {
		text-align: center;
		li {
			padding: 12px 0;
			font-size: var(--lgSize);
			font-weight: var(--lightWeight);
			&:first-child {
				&::before {
					content: '';
					display: block;
					width: 35px;
					height: 1px;
					margin: 0 auto 35px;
					background-color: var(--invertColor);
				}
			}
			a {
				transition: opacity 0.3s;
				&.on {
					display: inline-block;
					width: 225px;
					padding: 5px 0;
					color: var(--baseColor);
					font-weight: var(--regWeight);
					background-color: var(--invertColor);
					border-radius: 30px;
				}
				&:hover {
					opacity: 0.6;
				}
			}
		}
		// 테마 변경 버튼
		.theme {
			position: relative;
			width: 75px;
			height: 36px;
			margin: 30px auto 0;
			background-color: var(--invertColor);
			border-radius: 18px;
			cursor: pointer;
			scale: 0.6;
			.ball {
				position: absolute;
				top: 7px;
				left: 10px;
				width: 22px;
				height: 22px;
				border-radius: 100%;
				background-color: var(--baseColor);
				transition: 0.7s;
			}
			.icon {
				color: var(--baseColor);
				font-size: 1.2rem;
				svg {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					transition: 0.3s;
					&.sun {
						display: none;
					}
					&.moon {
						right: 10px;
						display: block;
					}
				}
			}
			&.dark {
				.ball {
					left: 45px;
					background-color: var(--baseColor);
				}
				.icon {
					svg {
						&.sun {
							left: 12px;
							display: block;
						}
						&.moon {
							display: none;
						}
					}
				}
			}
		}
	}
	.btm {
		.icon-set {
			position: absolute;
			left: 50%;
			bottom: 10px;
			transform: translateX(-50%);
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			li {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				width: 40px;
				height: 40px;
				font-size: var(--bodySize);
				border-radius: 50%;
				transition: 0.3s;
				svg {
					transition: 0.3s;
				}
				&:hover {
					background: var(--invertColor);
					svg {
						color: var(--baseColor);
					}
				}
			}
		}
	}
}
