.Info {
	position: relative;
	width: 80vw;
	padding: 100px 0 0;
	margin: 0 auto;
	font-weight: var(--lightWeight);
	> .tit-set {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-bottom: 20px;
		.tit {
			font-size: var(--titSize1);
			font-weight: inherit;
			line-height: 1;
		}
		.detail {
			cursor: pointer;
			transition: opacity 0.5s, transform 0.5s;
			&::before {
				display: inline-block;
				content: '+';
				margin-right: 8px;
				font-weight: var(--medWeight);
				font-size: var(--bodySize);
				transform: rotate(0);
				transition: 0.3s;
			}
			&:hover {
				transform: translateX(-5px);
				&::before {
					transform: rotate(90deg);
					margin-right: 2px;
				}
			}
		}
	}
	.show-box {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid var(--baseColor);
		article {
			width: calc(100% / 3);
			padding: 15px 30px;
			border-left: 1px solid var(--baseColor);
			&:first-child {
				padding-left: 0;
				border-left: none;
			}
			h2 {
				margin-bottom: 10px;
				font-size: var(--xlgSize);
				font-weight: inherit;
			}
			.txt {
				min-height: 200px;
			}
			.con-btm {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 90%;
				margin-bottom: 10px;
				.date {
					display: flex;
					align-items: center;
					margin-top: -3px;
					font-size: var(--smSize);
					font-weight: var(--lightWeight);
					p {
						line-height: 1;
					}
					.line {
						display: inline-block;
						width: 25px;
						height: 1px;
						margin: 0 7px;
						background-color: var(--baseColor);
					}
				}
			}
			.num {
				font-size: var(--lgSize);
			}
		}
	}
}
