.Community {
	.txt-area {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		figure {
			position: relative;
			width: 200px;
			height: 200px;
			margin-left: 50px;
			span {
				position: absolute;
				width: inherit;
				height: inherit;
				border: 1px solid var(--baseColor);
				border-radius: 50%;
				transition: 1s cubic-bezier(cubic-bezier(cubic-bezier(cubic-bezier(0, 1.02, 0.83, 0.36))));
				animation: circle 3s linear infinite;
				&:nth-child(1) {
					--move: 10px;
				}
				&:nth-child(2) {
					--move: 40px;
				}
				&:nth-child(3) {
					--move: 90px;
				}
				&:nth-child(4) {
					--move: -10px;
				}
				&:nth-child(5) {
					--move: -40px;
				}
				&:nth-child(6) {
					--move: -90px;
				}
			}
		}
		@keyframes circle {
			0% {
				transform: translateY(0);
			}
			// 15% {
			// 	transform: translateY(var(--move) - 5px);
			// }
			50% {
				transform: translateY(var(--move));
			}
			80% {
				transform: translateY(var(--move) + 15px);
			}
			100% {
				transform: translateY(0);
			}
		}
		.txt {
			position: relative;
			width: 55%;
			.stit {
				position: absolute;
				top: 7px;
			}
			.con {
				margin-left: 15vw;
				font-size: var(--titSize1s);
				word-break: break-all;
				text-align: justify;
				line-height: 1.2;
				.border-txt {
					color: transparent;
					-webkit-text-stroke-width: 1.5px;
					-webkit-text-stroke-color: var(--baseColor);
				}
			}
		}
	}
	.comment {
		margin-top: 100px;
		.tit {
			margin-bottom: 50px;
			font-size: var(--titSize1);
			font-weight: var(--lightWeight);
			border-bottom: 1px solid rgba(var(--baseColor-code), 0.6);
		}
		.wrap-box {
			display: flex;
			justify-content: space-between;
			gap: 5vw;
			.input-box {
				width: 40%;
				height: fit-content;
				padding: 30px;
				background-color: rgba(18, 18, 18, 0.9);
				box-shadow: 3px 1px 5px 3px rgba(var(--baseColor-code), 0.2);
				input,
				textarea {
					width: 100%;
					padding: 5px 0 15px;
					margin-bottom: 20px;
					color: #fff;
					font-weight: var(--lightWeight);
					border: none;
					border-bottom: 1px solid rgba(var(--invertColor-code), 0.7);
					background-color: transparent;
					resize: none;
					&::placeholder {
						color: rgba(var(--invertColor-code), 0.8);
					}
				}
				.btn-set {
					text-align: center;
					button {
						width: 120px;
						padding: 8px 0;
						color: #111;
						background-color: rgba(var(--invertColor-code), 0.7);
						font-size: var(--smSize);
						font-weight: var(--lightWeight);
						border-radius: 25px;
						transition: 0.3s;
						&:nth-child(2) {
							margin-left: 20px;
							color: #111;
							background-color: rgba(var(--invertColor-code), 1);
						}
						&:hover {
							color: #fff;
							background-color: rgba(var(--invertColor-code), 0.7);
						}
					}
				}
			}
			.show-box {
				width: 60%;
				article {
					position: relative;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					height: 200px;
					padding: 30px 0 50px 5px;
					border-top: 1px solid rgba(var(--baseColor-code), 0.4);
					&:last-child {
						border-bottom: 1px solid rgba(var(--baseColor-code), 0.4);
					}
					.num {
						position: relative;
						width: 7%;
						padding-left: 5px;
						font-style: italic;
						font-family: var(--spcFont);
						font-size: var(--medSize);
						line-height: 2;
						&::before {
							content: '';
							position: absolute;
							top: 10px;
							left: 0;
							display: inline-block;
							width: 1px;
							height: 20px;
							background-color: var(--baseColor);
							transform: rotate(25deg);
						}
					}
					h2 {
						width: 47%;
						height: 100%;
						font-size: var(--xlgSize);
						font-weight: var(--regWeight);
						line-height: 1.2;
						word-break: break-all;
						overflow: hidden;
					}
					.txt {
						width: 42%;
						height: 100%;
						overflow: hidden;
						word-break: break-all;
					}
					.con-btm {
						position: absolute;
						left: 10%;
						bottom: 6px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 90%;
						.date {
							display: flex;
							align-items: center;
							margin-top: -3px;
							p {
								line-height: 1;
							}
							.line {
								display: inline-block;
								width: 35px;
								height: 1px;
								margin: 0 10px;
								background-color: var(--baseColor);
							}
						}
					}
					.btn-set {
						button {
							color: var(--baseColor);
							font-size: var(--medSize);
							transition: opacity 0.3s;
							&.delete {
								margin-right: 20px;
								color: rgba(var(--baseColor-code), 0.6);
							}
							&:hover {
								opacity: 0.6;
							}
						}
					}
				}
			}
		}
	}
}

// laptop
.laptop,
.tablet,
.mobile {
	.Community {
		.txt-area {
			.txt {
				.con {
					font-size: var(--titSize2);
				}
			}
		}
	}
}
// tablet
.tablet,
.mobile {
	.Community {
		.txt-area {
			figure {
				margin: 20px 0 0 0;
			}
			.txt {
				.con {
					margin-left: 150px;
					font-size: var(--xlgSize);
					.stit {
						top: 2px;
					}
				}
			}
		}
	}
}
// mobile
.mobile {
	.Community {
		.txt-area {
			figure {
				width: 150px;
				height: 150px;
				margin: 50px auto 0;
			}
			.txt {
				width: 100%;
				margin-top: 100px;
			}
		}
	}
}
