.Community {
	.txt-area {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		figure {
			position: relative;
			width: 200px;
			height: 200px;
			margin-left: 50px;
			span {
				position: absolute;
				width: inherit;
				height: inherit;
				border: 1px solid var(--baseColor);
				border-radius: 50%;
				transition: 1s cubic-bezier(cubic-bezier(cubic-bezier(cubic-bezier(0, 1.02, 0.83, 0.36))));
				animation: circle 3s linear infinite;
				&:nth-child(1) {
					--move: 10px;
				}
				&:nth-child(2) {
					--move: 40px;
				}
				&:nth-child(3) {
					--move: 90px;
				}
				&:nth-child(4) {
					--move: -10px;
				}
				&:nth-child(5) {
					--move: -40px;
				}
				&:nth-child(6) {
					--move: -90px;
				}
			}
		}
		@keyframes circle {
			0% {
				transform: translateY(0);
			}
			// 15% {
			// 	transform: translateY(var(--move) - 5px);
			// }
			50% {
				transform: translateY(var(--move));
			}
			80% {
				transform: translateY(var(--move) + 15px);
			}
			100% {
				transform: translateY(0);
			}
		}
		.txt {
			position: relative;
			width: 55%;
			.stit {
				position: absolute;
				top: 7px;
			}
			.con {
				margin-left: 15vw;
				font-size: var(--titSize1s);
				word-break: break-all;
				text-align: justify;
				line-height: 1.2;
				.border-txt {
					color: transparent;
					-webkit-text-stroke-width: 1.5px;
					-webkit-text-stroke-color: var(--baseColor);
				}
			}
		}
	}
	.comment {
		margin-top: 100px;
		.tit {
			margin-bottom: 50px;
			font-size: var(--titSize1);
			font-weight: var(--lightWeight);
			border-bottom: 1px solid rgba(var(--baseColor-code), 0.6);
		}
		.wrap-box {
			display: flex;
			justify-content: space-between;
			gap: 7vw;
			.input-box {
				width: 40%;
				padding: 30px;
				background-color: rgba(var(--baseColor-code), 0.8);
				box-shadow: 5px 5px 5px rgba(var(--baseColor-code), 0.4);
				input,
				textarea {
					width: 100%;
					padding: 5px 0 15px;
					margin-bottom: 20px;
					color: var(--invertColor);
					font-weight: var(--lightWeight);
					border: none;
					border-bottom: 1px solid rgba(var(--invertColor-code), 0.7);
					background-color: transparent;
					resize: none;
					&::placeholder {
						color: rgba(var(--invertColor-code), 0.6);
					}
				}
				.btn-set {
					text-align: center;
					button {
						width: 120px;
						padding: 8px 0;
						color: var(--baseColor);
						background-color: rgba(var(--invertColor-code), 0.7);
						font-size: var(--smSize);
						font-weight: var(--lightWeight);
						border-radius: 25px;
						transition: 0.3s;
						&:nth-child(2) {
							margin-left: 20px;
							color: var(--baseColor);
							background-color: rgba(var(--invertColor-code), 1);
						}
						&:hover {
							color: var(--invertColor);
							background-color: rgba(var(--invertColor-code), 0.8);
						}
					}
				}
			}
			.show-box {
				width: 60%;
				article {
					display: flex;
					justify-content: space-between;
					h2 {
						position: relative;
						padding-left: 10px;
						&::before {
							content: '';
							position: absolute;
							left: 0;
							top: 5px;
							display: inline-block;
							width: 1px;
							height: 25px;
							margin-right: 20px;
							background-color: var(--baseColor);
							transform: rotate(25deg);
						}
					}
					.con {
						&-btm {
							display: flex;
							justify-content: center;
							align-items: center;
							p {
								line-height: 1;
							}
							.line {
								display: inline-block;
								width: 50px;
								height: 1px;
								margin: 0 10px;
								background-color: var(--baseColor);
							}
						}
					}
				}
			}
		}
	}
}

// laptop
.laptop,
.tablet,
.mobile {
	.Community {
		.txt-area {
			.txt {
				.con {
					font-size: var(--titSize2);
				}
			}
		}
	}
}
// tablet
.tablet,
.mobile {
	.Community {
		.txt-area {
			figure {
				margin: 20px 0 0 0;
			}
			.txt {
				.con {
					margin-left: 150px;
					font-size: var(--xlgSize);
					.stit {
						top: 2px;
					}
				}
			}
		}
	}
}
// mobile
.mobile {
	.Community {
		.txt-area {
			figure {
				width: 150px;
				height: 150px;
				margin: 50px auto 0;
			}
			.txt {
				width: 100%;
				margin-top: 100px;
			}
		}
	}
}
