.Pics {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	font-weight: var(--lightWeight);
	.content {
		display: flex;
		gap: 30px;
		overflow: hidden;
		article {
			position: relative;
			width: 25%;
			height: 350px;
			cursor: pointer;
			.pic {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: brightness(1.2);
					transition: transform 0.5s, filter 0.5s;
				}
			}
			.con {
				position: absolute;
				bottom: 0;
				left: 20px;
				opacity: 0;
				transition: 0.5s;
				.tit {
					font-weight: inherit;
				}
				.date {
					width: 100%;
					margin-top: 10px;
					line-height: 1;
					span {
						&:first-child {
							margin-right: 10px;
							font-weight: var(--medWeight);
						}
						&:nth-child(2) {
							opacity: 0.8;
						}
					}
				}
			}
			.play {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -40%);
				//opacity: 0;
				transition: opacity 0.5s;
				svg {
					font-size: var(--titSize1s);
				}
			}
			&:hover {
				.pic {
					img {
						transform: scale(1.2);
						filter: brightness(0.8) grayscale(80%);
					}
				}
				.con {
					bottom: 15px;
					left: 20px;
					opacity: 1;
				}
				.play {
					opacity: 1;
				}
			}
		}
	}
	&.on {
		.stit-set {
			&::after {
				width: 100%;
			}
		}
	}
}
