.Contact {
	.tit-set {
		margin-bottom: 50px;
	}
	.email {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.txt {
			width: 44%;
			h2 {
				font-size: var(--titSize1s);
				font-weight: var(--medWeight);
				letter-spacing: 1px;
				line-height: 1.2;
			}
			.arrow {
				//display: inline-block;
				margin-left: -10px;
				font-size: var(--titSize1);
				//transform: rotate(270deg);
			}
		}
		form {
			width: 54%;
			table {
				width: 100%;
				border-collapse: collapse;
				tr {
					border-top: 1px solid rgba(var(--baseColor-code), 0.3);
					th {
						font-weight: var(--regWeight);
						text-align: left;
						padding: 21px 0;
						&:nth-of-type(2) {
							border-left: 1px solid rgba(var(--baseColor-code), 0.3);
							padding-left: 20px;
						}
						&:last-child {
							border-right: none;
							text-align: center;
						}
						input[type='submit'] {
							padding: 10px 45px;
							margin-top: 20px;
							color: var(--invertColor);
							font-size: var(--smSize);
							background-color: rgba(var(--baseColor-code), 0.9);
							border: none;
							border-radius: 50px;
							text-align: center;
							cursor: pointer;
							transition: opacity 0.3s;
							&:hover {
								opacity: 0.5;
							}
						}
					}
					td {
						input[type='text'] {
							position: relative;
							width: 100%;
							padding-bottom: 0;
							font-weight: var(--lightWeight);
							box-sizing: border-box;
							border: none;
							background: transparent;
							&#lastname {
								padding-left: 50px;
							}
						}
						#comments {
							width: 100%;
							height: 200px;
							padding: 20px 20px 20px 0;
							font-weight: var(--lightWeight);
							background: none;
							border: none;
						}
						p {
							font-size: var(--smSize);
							color: var(--pointColor);
							padding: 0;
							text-align: left;
						}
						.err {
							color: var(--pointColor);
							font-size: var(--smSize);
							line-height: 1.1;
							&.two {
								margin-left: 10px;
							}
							&.four {
								position: absolute;
								top: 45px;
								left: 0;
							}
						}
						&.txt-wrap {
							position: relative;
						}
					}
				}
			}
		}
	}
	.map {
		margin-top: 60px;
		.tit {
			margin-bottom: 30px;
			font-size: var(--titSize1);
			font-weight: var(--lightWeight);
			border-bottom: 1px solid rgba(var(--baseColor-code), 0.6);
		}
		.tag {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 20px;
			font-weight: var(--lightWeight);
			font-size: var(--bodySize);
			.txt {
				margin-right: 12px;
			}
			.btn-set {
				button {
					padding: 5px 20px;
					margin-left: 10px;
					color: var(--baseColor);
					font-weight: var(--regWeight);
					font-size: var(--mSize);
					background-color: var(--invertColor);
					border: 1px solid var(--baseColor);
					border-radius: 10px;
					transition: 0.3s;
					&:first-child {
						min-width: 117px;
						margin-left: 0;
					}
					&:nth-of-type(2) {
						min-width: 147px;
					}
					&:last-child {
						background-color: transparent;
					}
					&:hover {
						color: var(--invertColor);
						background-color: var(--baseColor);
						border: 1px solid var(--baseColor);
					}
					&.on {
						color: var(--invertColor);
						font-weight: var(--medWeight);
						background-color: var(--baseColor);
						border: 1px solid var(--baseColor);
					}
					&:disabled {
						background-color: rgba(var(--baseColor-code), 0.2);
						border: 1px solid transparent;
						cursor: auto;
						&:hover {
							color: var(--baseColor);
						}
					}
				}
			}
		}
		.wrap-box {
			position: relative;
			width: 100%;
			height: 50vh;
			> div {
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				box-shadow: 1px 1px 10px 1px rgba(var(--baseColor-code), 0.2);
				opacity: 0;
				&.map-box {
					background-color: var(--baseColor);
					filter: saturate(0.2);
					transition: filter 0.5s;
					&:hover {
						filter: saturate(0.6);
					}
				}
				&.on {
					z-index: 2;
					opacity: 1;
				}
			}
		}
		.branch-set {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 30px;
			.branch {
				position: relative;
				width: calc((100% - 50px) / 2);
				//height: 200px;
				padding: 35px 25px;
				color: var(--baseColor);
				font-weight: var(--lightWeight);
				background-color: rgba(var(--baseColor-code), 0.1);
				cursor: pointer;
				transition: 0.3s;
				h3 {
					display: inline-block;
					font-size: var(--medSize);
					font-weight: inherit;
					line-height: 0.2;
					letter-spacing: 0;
					cursor: pointer;
					&::after {
						content: '';
						display: block;
						margin-top: 10px;
						border-bottom: 1px solid var(--baseColor);
						transform: scaleX(0);
						transform-origin: 0% 50%;
						transition: transform 0.4s;
					}
				}
				.info {
					margin-top: 20px;
					.txt {
						line-height: 1.3;
						&:nth-of-type(2) {
							opacity: 0.6;
						}
					}
					.icon {
						display: flex;
						align-items: center;
						margin-top: 2px;
						svg {
							opacity: 0.5;
						}
						.txt {
							margin-left: 10px;
						}
						&.mail {
							svg {
								font-size: var(--medSize);
							}
						}
					}
				}
				.arrow {
					position: absolute;
					top: 15px;
					right: 10px;
					font-size: var(--xlgSize);
					opacity: 0.8;
					transform: rotate(270deg);
					cursor: pointer;
					transition: 0.5s;
					&:hover {
						opacity: 0.3;
					}
				}
				&.on {
					color: var(--invertColor);
					background-color: rgba(var(--baseColor-code), 0.95);
					h3 {
						&::after {
							transform: scaleX(1);
							border-color: var(--invertColor);
						}
					}
					.arrow {
						opacity: 0.8;
						transform: rotate(90deg);
					}
					&:hover {
						.arrow {
							opacity: 0.8;
						}
					}
				}
				&:hover {
					h3 {
						&::after {
							transform: scaleX(1);
						}
					}
					.arrow {
						transform: rotate(90deg);
						opacity: 0.3;
					}
				}
			}
		}
	}
}

// laptop
.laptop,
.tablet,
.mobile {
	.Contact {
		.email {
			.txt {
				h2 {
					font-size: var(--titSize2);
				}
			}
			form {
				table {
					tr {
						th {
							font-size: var(--mSize);
							&:nth-of-type(2) {
								width: 20%;
								padding-left: 10px;
							}
						}
						td {
							input[type='text'] {
								&#lastname {
									padding-left: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}

// tablet
.tablet,
.mobile {
	.Contact {
		.email {
			.txt {
				margin-top: -10px;
				font-size: var(--xlgSize);
				h2 {
					margin-bottom: 10px;
					line-height: 1.1;
				}
				.arrow {
					font-size: var(--titSize1s);
				}
			}
			form {
				table {
					tr {
						th {
							display: none;
							&:last-child {
								display: block;
							}
							input[type='submit'] {
								margin-top: 10px;
							}
						}
						td {
							padding: 21px 0;
							&::placeholder {
								color: var(--baseColor);
							}
							input[type='text'] {
								&#lastname {
									display: none;
								}
							}
							#comments {
								padding-top: 0;
							}
						}
					}
				}
			}
		}
		.map {
			.tag {
				font-size: var(--mSize);
				.txt {
					margin-right: 10px;
				}
				.btn-set {
					button {
						padding: 5px 18px;
						margin-left: 8px;
						font-size: var(--smSize);
						&:first-child {
							min-width: 105px;
						}
						&:nth-of-type(2) {
							min-width: 133px;
						}
					}
				}
			}
			.branch-set {
				.branch {
					width: calc((100% - 25px) / 2);
					padding: 30px 20px;
					h3 {
						font-size: var(--bodySize);
					}
					.info {
						.txt {
							font-size: var(--mSize);
						}
					}
					.arrow {
						top: 20px;
						font-size: var(--lgSize);
					}
				}
			}
		}
	}
}

// mobile
.mobile {
	.Contact {
		.email {
			.txt {
				width: 100%;
				h2 {
					margin-bottom: 0;
					font-size: var(--lgSize);
				}
				.arrow {
					font-size: var(--titSize2);
				}
			}
			form {
				width: 100%;
				margin-top: 20px;
				table {
					tr {
						th {
							&:last-child {
								padding-top: 10px;
							}
						}
						td {
							padding: 15px 0;
							.err {
								&.four {
									top: 40px;
								}
							}
						}
					}
				}
			}
		}
		.map {
			.tit {
				font-size: var(--titSize2);
			}
			.wrap-box {
				height: 40vh;
			}
			.tag {
				font-size: var(--mSize);
				.btn-set {
					margin-top: 10px;
					button {
						&:last-child {
							display: none;
						}
					}
				}
			}
			.branch-set {
				flex-wrap: wrap;
				.branch {
					width: 100%;
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
