.Text {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	//overflow: hidden;
	.txt {
		font-family: var(--gFont);
		font-size: 5.8rem;
		font-weight: var(--lightWeight);
		opacity: 0.1;
	}
}

// laptop
.laptop,
.tablet,
.mobile {
	.Text {
		.txt {
			font-size: var(--titSize1);
		}
	}
}

// tablet
.tablet,
.mobile {
	.Text {
		width: 85vw;
		.txt {
			font-size: var(--titSize1);
		}
	}
}

// mobile
.mobile {
	.Text {
		.txt {
			font-size: var(--titSize1s);
		}
	}
}
